.post {
    display: flex;
    flex-direction: column;
    width: 620px;
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.post_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.post_header .userInfo {
    display: flex;
    align-items: center;
}

.post_header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    cursor: pointer;
}

.post_header .user {
    cursor: pointer;
}

.post_header .user .user_verified {
    display: flex;
    align-items: center;
}

.post_header .user .icon {
    margin-left: 5px;
    color: slategrey;
}

.post_header .username {
    cursor: pointer;
}

.post_header .location {
    font-size: small;
}

.post_header .menu_dots {
    cursor: pointer;
}

.post_img {
    width: 620px;
    height: 400px;
    margin-bottom: 5px;
}

.post_footer {
    display: flex;
    flex-direction: column;
}

.post_footer .description {
    display: flex;
    margin-right: 10px;
}

.post_footer .description :not(:last-child) {
    margin-right: 5px;
}

.post_footer .icons {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    margin: 2px;
}

.post_footer .icons .inner_icons {
    display: flex;
    margin-right: 10px;
    cursor: pointer;
}

.post_footer .icons .inner_icons :not(:last-child) {
    margin-right: 10px;
}